server:
  port: 8082

spring:
  application:
    name: owner-service
#  datasource:
#    url: jdbc:h2:mem:ownerdb
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:
# 
#  h2:
#    console:
#      enabled: true
#      path: /h2-console
#      settings:
#        web-allow-others: true

 # MySQL Database Configuration
  datasource:
    url: jdbc:mysql://localhost:3306/capstone?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: admin
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html