
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.list-group-item{
    background-color: #00264C !important;
}
.wrapper{
    width:100vw;
    height:100vh;
    overflow: hidden;
    color: white;
    position:relative;
    font-size: 20px;
}
.menu-bar{
    width:100%;
    height: 20%;
    background-color: #00264C;
    margin-bottom: 5px;
    /* padding:30px; */
    display: flex;
    align-items: center;
    gap: 20px;
}
.bottom{
    width:100%;
    height: 80%;
    /* background-color:#BFD9F2; */
    padding:50px;
    display: flex;
    flex-direction: column;
}
.image1{
    width:100%;
    height:100%;
}
.image2{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.logo-container{
    width:100px;
    height: 100px;
    margin-left: 20px;
}
.img-container{
    width:250px;
    height: 170px;
}
.list,.heading{
    text-align: center;
    list-style-type:none;
}
.heading{
    background-color:rgb(249, 247, 249);
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 4px #BFD9F2;
    color: black;
}
.student-details{
    width: 300px;
    align-self: center;
    cursor: pointer;
}
.tt-btn{
    height: 40px;
    width:250px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
.ckbox-label{
    background-color:rgb(248, 247, 248);
    color:black;
    padding: 15px;
    text-align: center  ;
    border-radius: 30px;
    cursor: pointer;
    width:100%;
    box-shadow: 1px 1px 4px #BFD9F2;
}
.ckbox:checked ~ .tt-container{
    display: block;
}
.ckbox-label:hover, .heading:hover{
    background-color: #BFD9F2;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;   
    box-shadow: 1px 1px 4px #BFD9F2;
}
.ckbox{
    display: none;
}
.cap{
    text-align: center;
    color: #00264C;
}

.tt{
    width:200px;
    height: 200px;
    text-align: center;
    color:white;
    /* font-size: 20px; */
    margin-top: 20px;
    border: 1px solid white;
    border-collapse: collapse;
    position:absolute;
    left: 100px;
    top: 60vh;
    background-color: #00264C;
}

.tt-container{
    /* border-radius: 20px; */
    display:none;
    background-color: rgb(245, 116, 243);
    width: 250px;
}

@media (max-width: 460px){
    .logo-container{
        width:60px;
        height: 60px;
        margin-left: 20px;
    }
    .ckbox-label{
        padding: 7px;
        border-radius: 10px;
    }
    .img-container{
        width:80px;
        height: 100px;
    }
    .tt{
        width:150px;
        height: 150px;
    }
    .student-details{
        width: 170px;
        font-size: medium;

    }
    .ckbox-label{
        font-size: medium;
        border-radius: 20px;
        padding: 7px 12px;
    }
    .heading{
        padding: 7px 12px;
        border-radius: 20px;
    }
}
